
.animate-scroll-x {
    animation: scroll-x 15s linear infinite;
}

.animate-scroll-x-reverse {
    animation: scroll-x-reverse 15s linear infinite;
}

.testimonial-scroll-x {
    animation: scroll-x 30s linear infinite;
}

.testimonial-scroll-x-reverse {
    animation: scroll-x-reverse 30s linear infinite;
}

.paused {
    animation-play-state: paused !important;
}

@media (prefers-reduced-motion: reduce) {
    .animate-scroll-x,
    .animate-scroll-x-reverse,
    .testimonial-scroll-x,
    .testimonial-scroll-x-reverse {
        animation: none !important;
        transform: none !important;
    }
}

@keyframes scroll-x {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-25%);
    }
}

@keyframes scroll-x-reverse {
    from {
        transform: translateX(-25%);
    }
    to {
        transform: translateX(0);
    }
}

.testimonial-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* .text-halo {
  text-shadow: 0 0 15px rgba(14, 10, 1, 0.8), 0 0 20px rgba(255, 176, 0, 0.6);
} */
